{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">We need proof you were receiving {{benefit}} between {{checkdate}}</h1>
          
      
      <p>We need a copy of either:</p>
      
      <ul class="list list-bullet">
        <li>a {{benefit}} award letter</li>
        <li>a letter from the Department of Work and Pensions</li>
        <li>a letter from the Jobcentre</li>
      </ul>
        
      <p>Your penalty charge notice is on hold for 10 days.</p>
        
              <p>
        Once we receive your proof we will check it, then contact you within 2 working days.
      </p>
        
                <details>
          <summary><span class="summary">How to send proof</span></summary>
          <div class="panel panel-border-narrow">
      
      <h3 class="heading-small">
        By email
      </h3>
      
      <p>You can send a scan or clear picture by email to ... Include penalty charge notice reference number 234567891.</p>
      
      <h3 class="heading-small">
        By post
      </h3>
      
      <p>Post a copy of your proof, including penalty charge reference number 234567891, to:</p>
        <p>
          NHS Help with Health Costs<br> 
          Bridge House<br> 
          152 Pilgrim Street<br> 
          Newcastle upon Tyne<br> 
          NE1 6SN
        </p>

          </div>
        </details>
        
            <h1 class="heading-large">If you have any other exemptions, we may be able to prove these instantly</h1>
          
      
      <p>This could be</p>
      
      <ul class="list list-bullet">
        <li>a Medical exemption card</li>
        <li>a Prescription Prepayment Certificate</li>
        <li>an HC2 certificate</li>
        <li>an NHS tax credit certificate</li>
      </ul>
        
        <a href="bsa-exemptions">Tell us about another exemption</a>
            
      </div>       
    </div>
    
</main>

{% endblock %}