{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">Examples of proof you can send us</h1>
          
        <h1 class="heading-small">The first page of your JSA letter, that has your name and address, and the last page with the type of allowance, the amount you received and the date you were receiving it from</h1>
      
      <img src="https://lh5.googleusercontent.com/AZrDTUaRt--Gu4PYG3o8bOTHgr3Su9X5GYjZ6F6smypKMSDgff9FZt3pf7fpBSsm74WcbxipaD7Y2iaT0moQ=w1440-h809-rw" alt="Example of a jsa letter">
        
              <img src="https://lh3.googleusercontent.com/t7bmgU9Xs9sFo9gYUuUgrFRi7l2IYR2vcBItRjnqSNUl0xHrpapDNBgakXyiRIyB5pyC25UjSVR0WtIG7Jva=w1440-h809-rw" alt="Example of a jsa letter">
      

                <h1 class="heading-small"><br>A letter from the Job Centre, that confirms the type of allowance, the amount you received and the dates you were receiving it between</h1>
      
      <img src="https://lh6.googleusercontent.com/E4nmNyOGapYBSUQdGphF9Y-LPxZ0ZFUj4eO8ybQMpqSeBDtafR5PiWJhKJbhIQNQqdrwHujWLYnRiOhXa98n=w1440-h809-rw" alt="Example of a jsa letter">
        

                <h1 class="heading-small">The first page of your UC letter, that has your name and address, and the second page with the amount you received and the dates you were receiving it between</h1>
        
        <img src="https://lh6.googleusercontent.com/OH_lPek5qvz86tEB4W837DVEMjDfzKVYO1t5zM71aAzCmuanXRvdQ8C_dYnhpscubjATZVNhRQYmkhmk-o3U=w1440-h809-rw" alt="Example of a UC letter">
        
                <img src="https://lh5.googleusercontent.com/7-yfjFjQqrCfuxtNbJ8eg_T4QHGwgRgpNeDSEyxiNSaDWjo5YuJxq4XPulsQ1OuZsz3GQ9sDsbKOmXMU7-HI=w1440-h809-rw" alt="Example of a UC letter">
            
      </div>       
    </div>
    
</main>

{% endblock %}