{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">We need proof you were receiving [exemption] between [dates]</h1>
          
      
      <p>We need a copy of either:</p>
      
      <ul class="list list-bullet">
        <li>a NHS medical exemption certificate award letter</li>
        <li>a letter from the Department of Work and Pensions</li>
        <li>a letter from the Jobcentre</li>
      </ul>
        
      <p>Your penalty charge notice is on hold for 10 days.</p>
        
              <p>
        Once we receive your proof we will check it, then contact you within 2 working days.
      </p>

        
            <h1 class="heading-large">You can still send proof you were receiving [dwp benefit] between [dates]</h1>
          
      
      <p>We need a copy of either</p>
      
      <ul class="list list-bullet">
        <li>a Universal Credit award letter</li>
        <li>a letter from the Department of Work and Pensions</li>
        <li>a letter from the Jobcentre</li>
      </ul>
        
        
              <h2 class="heading-large">How to send proof</h2>
      
      <h3 class="heading-small">
        By email
      </h3>
      
      <p>You can send a scan or clear picture by email to ... Include penalty charge notice reference number 234567891.</p>
      
      <h3 class="heading-small">
        By post
      </h3>
      
      <p>Post a copy of your proof, including penalty charge reference number 234567891, to:</p>
        <p>
          NHS Help with Health Costs<br> 
          Bridge House<br> 
          152 Pilgrim Street<br> 
          Newcastle upon Tyne<br> 
          NE1 6SN
        </p>
      
      <h2 class="heading-large">What happens next</h2>
      
<!--
      <p>
        Once we receive your proof we will check that it shows you were receiving {{benefit}} between 1 September and 30 September 2017.
      </p>
-->

      <p>
        Once we receive your proof we will check it, then contact you within 2 working days.
      </p>
            
      </div>       
    </div>
    
</main>

{% endblock %}