{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">We cannot find your details</h1>
      
    <p>
      The information you gave us does not prove you were entitled to collect free prescriptions between 1 November and 30 November 2017.
    </p>
            
    <h3 class="heading-medium">What to do next</h3>

    <p>
     You can either: 
    </p>

    <ul class="list list-bullet">
      <li>
        <a href="">pay the total of £51.60</a>
      </li>
      <li>
        <a href="">send us proof you were entitled to collect free prescriptions between 1 November and 30 November 2017</a>
        </li>
              <li><a href="">
        if you were not entitled to free prescriptions but there’s an exceptional reason why you should not have to pay, you will need to contact us</a>.
        </li>
    </ul>

    </div>
    
  </div>

</main>

{% endblock %}