{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    
    <div class="column-full">
      
      <div class="phase-banner">
        
          <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        
        </div>
      
    </div>
    
  </div>
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <h1 class="heading-large">What happens next</h1>

      
      <p>
        Thank you. We are now reviewing your case and will contact you within 2 working days. No additional charges will be added during this time.
      </p>
      
<div class="panel panel-border-wide">        
        <p>
You do not need to do anything until we contact you.
        </p>
        
      </div>
            
    </div>
    
  </div>

</main>

{% endblock %}