{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
<div class="heading-group">
        
        <p>Challenge a Penalty Charge Notice</p>
        
        <h1 class="heading-large">What happens next?</h1>
        
      </div>
        
        <p>We will ask you a few simple questions. It may help to have your exemption details or benefits information ready. The process should only take about 4 minutes to complete. </p>
        
        <p>We will:</p>
    </div>


        
                   <div class="column-two-thirds">


                <ol class="standard">
                    <li style="border-top: none;">
                        <span class="circle circle-step">1</span>
                        <div class="point">
                            <p><span class="heading-small">Ask for a few details about your exemption or benefit </span>
</p>
                             
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">2</span>
                        <div class="point">
                            <p><span class="heading-small">Ask about other exemptions you may have had, as this may be quicker for us to check</span></p>
                            
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">3</span>
                        <div class="point">
                            <p><span class="heading-small">Tell you how to send us proof if we can’t confirm your exemption straight away</span></p>

                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">4</span>
                        <div class="point">
                            <p><span class="heading-small">Let you know the next steps</span><br></p>
                        </div>
                    </li>
                </ol>
                       <br>
            </div>
        
        

      <form action="did-you-have" method="get" class="form">

          <div class="form-item-wrapper">
            <div class="form-group">
              <input class="button" type="submit" value="Next">
            </div>
          </div>
        
        </form>


      
    </div>
  
</main>

{% endblock %}
