{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">We need proof you were receiving Income Support or income-related Employment and Support Allowance between 1 November and 30 November 2017</h1>
        
   
    <h2 class="heading-medium">What to do next</h2>
        
        <h3 class="heading-small">Type of proof we need to see</h3>

    <p>
     We need a copy of one of the following:
    </p>

    <ul class="list list-bullet">
      <li>
        an Income Support or income-related Employment and Support Allowance award letter
      </li>
              <li>
        a letter from the Department of Work and Pensions
      </li>
              <li>
        a letter from the Jobcentre
      </li>
    </ul>
        
                <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
        
            <h1 class="heading-large">If you were not receiving Income Support or income-related Employment and Support Allowance</h1>
      
    <p class="">
      Although you didn’t have a valid maternity exemption certificate when you claimed a free prescription, you still have the chance to apply.
    </p>
            
    <h2 class="heading-medium">What to do next</h2>

    <p>
     You have the following options:
    </p>

    <ul class="list list-bullet">
    <li>
        Pay the total amount of £68.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </li>
      <li>
        Pay the original £8.60 prescription charge, and apply for a maternity exemption certificate.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to pay and apply">
        </div>
      </li>
    </ul>

<p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a>
    </div>
    
  </div>

</main>

{% endblock %}