{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">How to pay and apply
</h1>
      

    <h2 class="heading-medium">Pay the prescription charge now </h2>

    <p>
        Pay the total amount of £8.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </p>

<h3 class="heading-medium">Apply for a maternity exemption certificate</h3>


<p class="panel panel-border-wide">You only have until XX April 2018 to get a medical exemption certificate.</p>
<p>Ask your doctor, midwife or health visitor how to apply.</p>

<p>You can only apply for a maternity exemption certificate if you:</p>
<ul class="list list-bullet">
<li>were pregnant at the time you claimed the free prescription (the date on your Penalty Charge Notice)</li>
<li>you had given birth in the previous 12 months</li>
</ul>

    </div>
    
  </div>

</main>

{% endblock %}