{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <h1 class="heading-xlarge">
        This Penalty Charge Notice is on hold for 60 days
      </h1>
      
      <h2 class="heading-medium">How to close this Penalty Charge Notice</h2>
            
      <p>
        You can either:
      </p>

      <ul class="list list-bullet">
        <li><a href="">Prove your entitlement to {{benefit}} </a></li>
        <li><a href="">Pay the £8.60 prescription charge, and apply for a Medical Exemption Certificate</a></li>
      </ul>
      
    </div>
    
  </div>

</main>

{% endblock %}