{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">You didn’t have a valid medical exemption certificate at the time, but you can still apply</h1>
      
    <p class="">
      Although you didn’t have a valid medical exemption certificate when you claimed a free prescription, you still have the chance to apply.
    </p>
            
    <h2 class="heading-medium">What to do next</h2>

    <p>
     You have the following options:
    </p>

    <ul class="list list-bullet">
    <li>
        Pay the total amount of £68.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </li>
      <li>
        Pay the original £8.60 prescription charge, and apply for a medical exemption certificate.
        <br>
        <p>
          <a class="button" href="med-apply-pay" style="margin-top:0.5em">How to pay and apply</a>
        </p>
<!--         <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to pay and apply">
        </div> -->
      </li>
    </ul>
<br>
<p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice. <a href="">Find out if you can ask for a review.</a>
    </div>
    
  </div>

</main>

{% endblock %}