{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-xlarge">How to pay and apply
</h1>
      

    <h2 class="heading-medium">Pay the prescription charge now </h2>

    <p>
        Pay the total amount of £68.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </p>

<h3 class="heading-medium">Apply for a medical exemption certificate</h3>


<p class="panel panel-border-wide">You only have until XX April 2018 to get a medical exemption certificate.</p>
<p>To apply for a medical exemption certificate you must see your doctor.</p>
<details>
              <summary><span class="summary">Check the full list of accepted conditions</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
<p><span class="heading-small">Cancer and are undergoing treatment</span><br>
Including treatment for the effects of cancer or the effects of cancer treatment.</p>
<p><span class="heading-small">Diabetes (type 1 or type 2)</span><br>
If you need medication to keep blood sugar levels stable.</p>
<p><span class="heading-small">Diabetes insipidus</span><br>
And other forms of hypopituitarism.</p>
<p><span class="heading-small">A continuing physical disability</span><br>
Which means you can’t go out without the help of another person.</p>
<p><span class="heading-small">Epilepsy</span><br>
If you need continuous anticonvulsive therapy.</p>
<p><span class="heading-small">A permanent fistula </span><br>
Which needs continuous surgical dressing or an appliance – for example, caecostomy, colostomy, laryngostomy or ileostomy.</p>
<p><span class="heading-small">Hypoadrenalism </span><br>
Where specific substitution therapy is essential – for example, Addison’s Disease.</p>
<p><span class="heading-small">Hypoparathyroidism</span><br>
Which means your parathyroid glands produce too little parathyroid hormone.</p>
<p><span class="heading-small">Myasthenia gravis</span><br>
Where an autoimmune condition affects your nerves and muscles.</p>
<p><span class="heading-small">Myxoedema</span><br>
For example, hypothyroidism which needs thyroid hormone replacement.</p>


              </div>
            </details>
    </div>
    
  </div>

</main>

{% endblock %}