{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">ALPHA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
          <a class="link-back" href="medex">Back</a>
      </div>
    </div>

    <div class="grid-row">
    
    <div class="column-two-thirds">
         
    <h1 class="heading-large">We need proof you held a Medical Exemption Certificate between 1 November and 30 November 2017</h1>
          
      
      <p>You need to send us a clear scan or photographed image of your exemption certificate card</p>
      
                      <img src="https://lh3.googleusercontent.com/kQAa7fZMrM-RA4beceQGFMHD5sVHWQe4vvFJL-MlnDcZZuEKLavk9v2NW3xQWuB_uMk7q0oSGXwaV2i19U8h=w1440-h760-rw" alt="Example of a jsa letter" width="600" height="400">
        
              <p>
        Once we receive your proof we will check it, then contact you within 2 working days.
      </p>
        


     
              
              <h1 class="heading-large">How to send proof</h1>
      
      <h3 class="heading-small">
        By email
      </h3>
      
      <p>You can send a scan or clear picture by email to ... Include penalty charge notice reference number 234567891.</p>
      
      <h3 class="heading-small">
        By post
      </h3>
      
      <p>Post a copy of your proof, including penalty charge reference number 234567891, to:</p>
        <p>
          NHS Help with Health Costs<br> 
          Bridge House<br> 
          152 Pilgrim Street<br> 
          Newcastle upon Tyne<br> 
          NE1 6SN
        </p>

       


            
      </div>       
    </div>
    
</main>

{% endblock %}