{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
      <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
      </div>
    </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
               
    <h1 class="heading-xlarge">We need to speak to you to confirm your exemption</h1>
      
<!--    <h2 class="heading-medium">Why we need to contact you</h2>-->
    <p>We need to check your updated personal details are correct.</p>  
    <p>If you need us to speak to someone else on your behalf we need your permission first.</p>  
    <p><a class="button" href="update-contact">Next</a></p>
      
      
<!-- <p>Based on the information you have given us we are not able to match you.</p> -->
                  
<!--
      <p>You need to send us one of the following:</p>
      
      <ul class="list list-bullet">
        <li>Item 1</li>
        <li>Item 2, or</li>
        <li>Item 3</li>
      </ul>
-->
      
<!--
      <p>If we receive your proof before x there will be no further charges.</p>
      
      <h2 class="heading-large">How to send proof</h2>
      
      <h2 class="heading-medium">
        Step 1 - get a copy of your ...
      </h2>
      
      <p>
        You will get this from ...
      </p>
      
      <h2 class="heading-medium">
        Step 2 -  Write your details on it
      </h2>
      
      <p>
        Write your penalty charge reference number clearly on your ..
      </p>
      
      <h2 class="heading-medium">
        Step 3 - send it to us
      </h2>
      
      <div>
        <p>You can send a scan or clear picture to ...</p>
          <p>Or you can post a copy to:</p>
        <p>
          NHS Help with Health Costs<br> 
          Bridge House<br> 
          152 Pilgrim Street<br> 
          Newcastle upon Tyne<br> 
          NE1 6SN
        </p>
      </div>
-->

<!--
      <details>

  <summary><span class="summary">Email proof to us</span></summary>

  <div class="panel panel-border-narrow">
    
      <p>
        You can send a scan or clear picture to ...
      </p>

  </div>

</details>
-->
      
<!--
     <details>

  <summary><span class="summary">Post a copy to us</span></summary>

  <div class="panel panel-border-narrow">
    
    <p>Post it to:</p>

   <p>
        NHS Help with Health Costs<br> 
        Bridge House<br> 
        152 Pilgrim Street<br> 
        Newcastle upon Tyne<br> 
        NE1 6SN
      </p>

  </div>

</details>
-->      
      
<!--
      <h2 class="heading-medium">What happens next</h2>
      
      <p>
        Once we receive your proof we will... This usually takes x amount of time. We can contact you via text or email.
      </p>
-->
       
      
    </div>
    
  </div>

</main>

{% endblock %}