{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">You will need to call us</h1>
      </div>
      
     
      <p>As you are on Universal Credit, you cannot use this online service at the moment. </p>
      <p>To challenge your Penalty Charge Notice you will need to phone us:</p>
      <ul class="list list-bullet">
      <li>0300 330 9291 (prescriptions)</li>
      <li>0300 330 1293 (dental treatment)</li>
      </ul>
      <p>This call will be charged at a local rate.</p>

    </div>
    
  </div>
  
</main>

{% endblock %}












