{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="grid-row">
    
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">You can't challenge a Penalty Charge Notice online yet</h1>
      </div>
      
      <h2 class="heading-medium" style="margin-top: 0px">This service is still being developed</h2>
      <p>Because you've told us you're on Universal Credits, you can't challenge your Penalty Charge Notice online yet.</p>
      <p>Instead, you should call us on 0300 300 9291 to discuss your Penalty Charge Notice letter.</p>
      

    </div>
    
  </div>
  
</main>

{% endblock %}












