{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
<div class="heading-group">
        
        <p>Challenge a Penalty Charge Notice</p>
        
        <h1 class="heading-large">Who can ask for a Penalty Charge Notice review?</h1>
        
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>
          We understand that you may have made an honest mistake and didn’t mean to do anything wrong.
        </p>
        <p>If you have an exceptional reason why you claimed a free prescription you weren't entitled to, you can ask for a review.</p>
          <h2 class="heading-medium">Reasons we can't accept</h2>
          <p>
            We cannot review your Penalty Charge Notice if you:
          </p>
        
        <ul class="list list-bullet">

<li>thought your NHS exemption certificate was valid, but it had expired</li>
<li>thought your benefit entitled you to claim</li>
<li>thought your prescription prepayment certificate would automatically renew</li>
<li>feel you were misadvised by staff at your GP surgery or pharmacy</li>
</ul>
 <h3 class="heading-medium">What to do next </h3>

<p>If you have an exceptional reason why you made the claim at the time, you can <a href="../exep-circs/how-review">contact us to review your Penalty Charge Notice.</a> </p>

 <h3 class="heading-medium">If you’re not entitled to a review </h3>

<p>You must pay the total amount of your Penalty Charge Notice.</p>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
          
      </div>

      </div>
      
    </div>
  
</main>

{% endblock %}
