{% extends "layout_bsa.html" %}

{% block page_title %}
  NHS Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
      
    <div class="column-two-thirds">
    
      <div class="heading-group">
        <p>Challenge a Penalty Charge Notice</p>
        <h1 class="heading-large">
          Your {exemption certificate} expired on 1 September 2017.        
        </h1>
      </div>

      <h2 class="heading-medium">What to do next</h2>

    <p>
     You have the following options:
    </p>

    <ul class="list list-bullet">
     <li>
        Send us proof to show that you were entitled to free prescriptions or had a valid prescription prepayment certificate between 1 November and 30 November 2017.
        <br>
         <form action="examples" method="get" class="form">
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="How to send proof">
        </div>
         </form>
        </li>
      <li>
        Pay the total amount of £68.60.
        <br>
        <div class="form-group" style="margin-top:0.5em">
            <input class="button" type="submit" value="Pay now">
        </div>
      </li>
    </ul>

<p>If you were not entitled to free prescriptions but have an exceptional reason why you made the claim, you can ask us to review your Penalty Charge Notice.<a href="">Find out if you can ask for a review</a>

      
      </div>
      
    </div>      
    
</main>

{% endblock %}
